<div class="container container-width">
    <div class="sale-approve-container">
        <div class="row mx-2">
            <div class="col-lg-12 back-primary">
                <h3 class="sale-spprove-title my-2 grid-container">
                    <span class="payment-text">Payment</span>
                    <span class="balance-text">- Bal. Amount: {{walletBalance}} /-</span>
                </h3>
            </div>
            <hr class="m-0">
            <br>
            <div class="col-lg-12">
                <form [formGroup]="addEditPayment">
                    <div class="row">
                        <div class="form-group row mb-3">
                            <label for="BillDate" class="col-lg-5 col-form-label">Bill Date <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative">
                                <mat-form-field>
                                    <input #BillDate class="date-select" readonly matInput [matDatepicker]="picker1"
                                        placeholder="BillDate" formControlName="BillDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="PaymentDate" class="col-lg-5 col-form-label">Payment Date <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative">
                                <mat-form-field>
                                    <input #PaymentDate class="date-select" readonly matInput [matDatepicker]="picker"
                                        placeholder="PaymentDate" formControlName="PaymentDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="ClientCategory" class="col-lg-5 col-form-label">Client Category <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative">
                                <mat-select placeholder="--Client Category--" class="fromSelect"
                                    formControlName="CategoryId">
                                    <mat-option *ngFor="let category of categoryList" [value]="category.CategoryId"
                                        (onSelectionChange)="selectCategory($event, category)">
                                        {{category.CategoryName}}
                                    </mat-option>
                                </mat-select>
                                <span
                                    *ngIf="addEditPayment.get('CategoryId')?.hasError('required') && addEditPayment.get('CategoryId')?.touched"
                                    class="text-danger d-block validation-message">
                                    Category is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="ClientName" class="col-lg-5 col-form-label">Client Name <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative">

                                <ng-autocomplete [data]="filteredClient" [searchKeyword]="keyword"
                                    placeholder="Enter the Client Name" (selected)='selectEvent($event)'
                                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    formControlName="ClientName">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item let-selected="selected">
                                    <div class="autocomplete-item" [class.active]="selected">
                                        <a [innerHTML]="item.ClientName"></a>
                                    </div>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                                <span
                                    *ngIf="addEditPayment.get('ClientName')?.hasError('required') && addEditPayment.get('ClientName')?.touched"
                                    class="text-danger d-block validation-message">
                                    Client is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="PaymentType" class="col-lg-5 col-form-label">Payment Type <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative">
                                <mat-select placeholder="--Payment Type--" class="fromSelect"
                                    formControlName="PaymentTypeId">
                                    <mat-option *ngFor="let item of paymentTypeList" [value]="item.PaymentTypeId">
                                        {{item.PaymentType}}
                                    </mat-option>
                                </mat-select>
                                <span
                                    *ngIf="addEditPayment.get('PaymentTypeId')?.hasError('required') && addEditPayment.get('PaymentTypeId')?.touched"
                                    class="text-danger d-block validation-message">
                                    Payment Type is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="Amount" class="col-lg-5 col-form-label">Amount <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative">
                                <input #Amount type="text" class="form-control" id="Amount" placeholder="Amount"
                                    formControlName="Amount" (blur)="formatCurrency($event)" appCharacterRestriction>
                                <span class="kg-text"><i class="fa-solid fa-indian-rupee-sign"></i></span>

                                <span
                                    *ngIf="addEditPayment.get('Amount')?.hasError('required') && addEditPayment.get('Amount')?.touched"
                                    class="text-danger d-block validation-message">
                                    Amount is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="Narration" class="col-lg-5 col-form-label">Narration </label>
                            <div class="col-lg-7 position-relative">


                                <input #Narration type="text" class="form-control" id="Narration"
                                    placeholder="Narration" formControlName="Narration"
                                    [matAutocomplete]="NarrationAuto">

                                <mat-autocomplete #NarrationAuto="matAutocomplete" [displayWith]="displayWithFn">
                                    <mat-option *ngFor="let _narrate of filterNarration(Narration.value)"
                                        [value]="_narrate?.Narration">
                                        {{ _narrate?.Narration }}
                                    </mat-option>
                                </mat-autocomplete>
                                <span
                                    *ngIf="addEditPayment.get('Narration')?.hasError('required') && addEditPayment.get('Narration')?.touched"
                                    class="text-danger d-block validation-message">
                                    Narration is required.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4 offset-lg-5">
                            <div class="row">
                                <div class="col-lg-12 d-grid">
                                    <button class="btn-color py-2" (click)="onSubmit()" mat-raised-button
                                        cdkFocusInitial>
                                        Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>