<div class="container-fluid mt-2">
    <div class="row">
      <div class="col-lg-9 my-2 align-items-center">
        <div class="row">
          <div class="col-lg-10">
            <form [formGroup]="dateRangeForm" class="d-flex">
              <div class="row">
                <div class="col-lg-3">
                  <mat-form-field>
                    <input readonly matInput [matDatepicker]="picker" (dateChange)="fromDateChange($event)"
                      placeholder="From Date" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-form-field class="mx-2">
                    <input readonly matInput [min]="minToDate" [matDatepicker]="picker1"
                      min="dateRangeForm.value.fromDate" placeholder="To Date" formControlName="toDate">
                    <mat-datepicker-toggle [disabled]="dateRangeForm.value.fromDate == null" matSuffix
                      [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <div class="position-relative">
                    <input #vehicleNo (input)="VehicleInput(vehicleNo.value)" type="text" class="form-control"
                      id="VehicleNo" placeholder="Vehicle No." formControlName="VehicleNo"
                      [matAutocomplete]="vehicleAuto">
                    <!-- Autocomplete options -->
                    <mat-autocomplete #vehicleAuto="matAutocomplete" [displayWith]="displayWithFn">
                      <mat-option *ngFor="let number of filterVehicleNumbers(vehicleNo.value)" [value]="number.VehicleNo">
                        {{ number.VehicleNo }}
                      </mat-option>
                    </mat-autocomplete>
                  </div>
                </div>
                <!-- <div class="col-lg-3">
                  <div class="position-relative">
                    <mat-select placeholder="--Select Trip--" class="fromSelect" formControlName="TripId">
                      <mat-option *ngFor="let trip of TripList" [value]="trip.TripId">
                        {{trip.TripName}}
                      </mat-option>
                    </mat-select>
                    <span
                      *ngIf="dateRangeForm.get('TripId')?.hasError('required') && dateRangeForm.get('TripId')?.touched"
                      class="text-danger d-block validation-message">
                      Trip is required.
                    </span>
                  </div>
                </div> -->
              </div>
            </form>
          </div>
          <div class="col-lg-2">
            <!-- <button (click)="clearFilter()" matTooltip="Clear Filter" class="btn btn-color"><i class="fa-solid fa-filter-circle-xmark"></i></button> -->
            <button (click)="search()" class="btn btn-color ms-2">Search</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-2">
        <div class="top-container">
          <div class="search-field px-2">
            <input (input)="applyFilter($event)" type="text" placeholder="Search" class="form-control">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="add-button">
            <button (click)="addSupplier()" class="btn btn-color">Add New Supplier</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-lg-12">
        <div class="table-container">
          <div>
            <table matSort mat-table [dataSource]="dataSource">
              <!-- Displayed columns -->
              <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.header }}</th>
                <td mat-cell *matCellDef="let row; let i = index;">
                  {{ row[column.columnDef] }}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>
  
              <!-- Collection Date -->
              <ng-container matColumnDef="CollectionDate">
                <th mat-header-cell *matHeaderCellDef> Collection Date  </th>
                <td class="weight-column" mat-cell *matCellDef="let row"> {{row.CollectionDate }} </td>
                <td class="footer-total" mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
              </ng-container>
  
              <!-- First Weight -->
              <ng-container matColumnDef="ChallanWeight">
                <th mat-header-cell *matHeaderCellDef> Challan Weight(KG) </th>
                <td class="weight-column" mat-cell *matCellDef="let row"> {{row.ChallanWeight}} KG </td>
                <td class="footer-total" mat-footer-cell *matFooterCellDef>
                  <b>{{ getTotalCost('ChallanWeight') }} KG</b>
                </td>
              </ng-container>
              <!-- WetLeaf -->
              <ng-container matColumnDef="GrossAmount">
                <th mat-header-cell *matHeaderCellDef> Gross Amount <i class="fa-solid fa-indian-rupee-sign"></i> </th>
                <td class="weight-column" mat-cell *matCellDef="let row"> <i class="fa-solid fa-indian-rupee-sign"></i> {{row.GrossAmount}} </td>
                <td class="footer-total" mat-footer-cell *matFooterCellDef>
                  <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotalCost('GrossAmount') }}</b>
                </td>
              </ng-container>
  
              <!-- Actions column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                  <!-- <div *ngIf="row.Status=='Pending'"> -->
                  <div>
                    <i (click)="editItem(row)" matTooltip="Edit" matTooltipPosition="left"
                      class="fa-solid edit-delete-button fa-pen-to-square"></i>
                    <!-- <i (click)="deleteItem(row)" matTooltip="Delete" matTooltipPosition="right"
                      class="fa-solid text-danger edit-delete-button fa-trash-can"></i> -->
                      <i (click)="openImage(row.imageUrl)" matTooltip="View Challan" matTooltipPosition="right" class="fa-solid fa-eye edit-delete-button "></i>
                  </div>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>
  
            
                 <!-- Status column -->
            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let row">
                <div class="statusBtn">
                  <span *ngIf="row.Status == 'Rejected'" class="btn-reject">Rejected</span>
                  <span *ngIf="row.Status == 'Pending'" class="btn-pending">Pending</span>
                  <span *ngIf="row.Status == 'Approved'" class="btn-approved">Approved</span>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="table-footer" mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
          </div>
        </div>
        <mat-paginator [pageSizeOptions]="[75, 100, 125]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>