<h2 mat-dialog-title class="m-0 p-0 px-2 model-title justify-content-between d-flex align-items-center">
    <span>{{dialogData.title}}</span>
    <i matTooltip="Close" mat-dialog-close class="fa-solid fa-circle-xmark cursor-pointer"></i>
</h2>
<mat-dialog-content class="mat-typography p-0">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-container">
                    <form [formGroup]="changeForm">
                        <div class="form-group row my-3 d-flex align-items-center">
                            <label for="Password" class="col-lg-5 col-form-label">Password <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative my-2">
                                <input [type]="passwordType" class="form-control" id="Password"
                                    placeholder="Enter Password" formControlName="Password">
                                <span class="hide-view-icon">
                                    <i matTooltip="Show" *ngIf="passwordType == 'password'"
                                        (click)="togglePassword('text')" class="fa-solid fa-eye"></i>
                                    <i matTooltip="Hide" *ngIf="passwordType == 'text'"
                                        (click)="togglePassword('password')" class="fa-solid fa-eye-slash"></i>
                                </span>
                                <span
                                    *ngIf="changeForm.get('Password')?.hasError('required') && changeForm.get('Password')?.touched"
                                    class="text-danger validation-message">
                                    Password is required.
                                </span>
                            </div>
                        </div>
                        <div class="form-group row my-3 d-flex align-items-center">
                            <label for="Password" class="col-lg-5 col-form-label">Confirm Password <span
                                    class="text-danger">*</span></label>
                            <div class="col-lg-7 position-relative my-2">
                                <input type="password" class="form-control" id="ConfirmPassword"
                                    placeholder="Enter ConfirmPassword" formControlName="ConfirmPassword">
                                <span
                                    *ngIf="changeForm.controls['ConfirmPassword']?.hasError('passwordMismatch') && changeForm.controls['ConfirmPassword']?.touched"
                                    class="text-danger validation-message">
                                    Passwords do not match.
                                </span>
                                <span
                                    *ngIf="changeForm.controls['ConfirmPassword']?.hasError('required') && changeForm.controls['ConfirmPassword']?.touched && !changeForm.controls['ConfirmPassword']?.hasError('passwordMismatch')"
                                    class="text-danger validation-message">
                                    Confirm Password is required.
                                </span>
                            </div>
                        </div>
                        <!-- <div class="button text-center">
                            <button (click)="onSubmit()" class="btn btn-color">Update</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button (click)="onSubmit()" class="btn-color" mat-raised-button cdkFocusInitial>{{dialogData.buttonName}}</button>
</mat-dialog-actions>