<h2 mat-dialog-title class="m-0 p-0 px-2 model-title justify-content-between d-flex align-items-center">
    <span>{{dialogData.title}}</span>
    <i matTooltip="Close" mat-dialog-close class="fa-solid fa-circle-xmark cursor-pointer"></i>
</h2>
<mat-dialog-content class="mat-typography p-0">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="clientForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group row mb-3">
                                <label for="clientFirstName" class="col-lg-5 col-form-label">First Name <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="clientFirstName"
                                        placeholder="Enter First Name"
                                        formControlName="clientFirstName"
                                    >
                                    <span *ngIf="clientForm.get('clientFirstName')?.hasError('required') && clientForm.get('clientFirstName')?.touched" class="text-danger validation-message">
                                        First Name is required.
                                    </span>
                                </div>
                            </div>
        
                            <div class="form-group row mb-3">
                                <label for="clientMiddleName" class="col-lg-5 col-form-label">Middle Name</label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="clientMiddleName"
                                        placeholder="Enter Middle Name"
                                        formControlName="clientMiddleName"
                                    >
                                </div>
                            </div>
        
                            <div class="form-group row mb-3">
                                <label for="clientLastName" class="col-lg-5 col-form-label">Last Name <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="clientLastName"
                                        placeholder="Enter Last Name"
                                        formControlName="clientLastName"
                                    >
                                    <span *ngIf="clientForm.get('clientLastName')?.hasError('required') && clientForm.get('clientLastName')?.touched" class="text-danger validation-message">
                                        Last Name is required.
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="CategoryId" class="col-lg-5 col-form-label">Category <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <mat-select aria-placeholder="--Select Category--" class="fromSelect" formControlName="CategoryId">
                                        <mat-option *ngFor="let item of categoryList" [value]="item.CategoryId">
                                          {{item.CategoryName}}
                                        </mat-option>
                                      </mat-select>
                                    <span *ngIf="clientForm.get('CategoryId')?.hasError('required') && clientForm.get('CategoryId')?.touched" class="text-danger d-block validation-message">
                                        Category is required.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row mb-3">
                                <label for="clientAddress" class="col-lg-5 col-form-label">Address</label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="clientAddress"
                                        placeholder="Enter Address"
                                        formControlName="clientAddress"
                                    >
                                </div>
                            </div>
        
                            <div class="form-group row mb-3">
                                <label for="ContactNo" class="col-lg-5 col-form-label">Contact No</label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="number"
                                        class="form-control"
                                        id="ContactNo"
                                        placeholder="Enter Contact No"
                                        formControlName="ContactNo"
                                    >
                                </div>
                            </div>
        
                            <div class="form-group row mb-3">
                                <label for="clientEmail" class="col-lg-5 col-form-label">Email <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="clientEmail"
                                        placeholder="Enter Email"
                                        formControlName="EmailId"
                                    >
                                    <div *ngIf="clientForm.get('EmailId')?.hasError('required') && clientForm.get('EmailId')?.touched" class="text-danger validation-message">
                                        Enter a valid email address.
                                    </div>
                                    <div *ngIf="clientForm.get('EmailId')?.hasError('pattern') && clientForm.get('EmailId')?.touched" class="text-danger validation-message">
                                        Invalid email format.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="password" class="col-lg-5 col-form-label">Password <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        placeholder="Enter Email"
                                        formControlName="password"
                                    >
                                    <div *ngIf="clientForm.get('password')?.hasError('required') && clientForm.get('password')?.touched" class="text-danger validation-message">
                                        Password is required.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="isActive" class="col-lg-5 col-form-label">IsActive <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <mat-slide-toggle formControlName="isActive">{{clientForm.value.isActive ? "Active" : "InActive"}}</mat-slide-toggle>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn-color bg-danger" color="warn" mat-raised-button mat-dialog-close>Cancel</button>
    <button (click)="onSubmit()" class="btn-color" mat-raised-button cdkFocusInitial>{{dialogData.buttonName}}</button>
</mat-dialog-actions>
