<div class="container-fluid mt-2">
    <div class="row">
      <div class="col-lg-10 my-2">
        <div class="row">
          <div class="col-lg-12">
            <form [formGroup]="SaleForm" class="d-flex">
              <div class="row">
                <div class="col-lg-3 d-grid">
                  <mat-form-field>
                    <input readonly matInput [matDatepicker]="picker" (dateChange)="fromDateChange($event)" placeholder="From Date" formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              
                <div class="col-lg-3 d-grid">
                  <mat-form-field>
                    <input readonly matInput [min]="minToDate" [matDatepicker]="picker1" min="SaleForm.value.fromDate" placeholder="To Date" formControlName="toDate">
                    <mat-datepicker-toggle [disabled]="SaleForm.value.fromDate == null" matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                  <div class="position-relative col-lg-3 d-grid">
                      <input #vehicleNo (input)="VehicleInput(vehicleNo.value)" type="text" class="form-control" id="VehicleNo" placeholder="Vehicle No."
                          formControlName="VehicleNo" [matAutocomplete]="vehicleAuto">
                      <!-- Autocomplete options -->
                      <mat-autocomplete #vehicleAuto="matAutocomplete" [displayWith]="displayWithFn">
                          <mat-option *ngFor="let number of filterVehicleNumbers(vehicleNo.value)"
                              [value]="number.VehicleNo">
                              {{ number.VehicleNo }}
                          </mat-option>
                      </mat-autocomplete>
                  </div>
                  <div class="position-relative col-lg-3 d-grid">
                      <input #factoryName type="text" class="form-control" id="factoryName" placeholder="Factory Name"
                          formControlName="FactoryName" [matAutocomplete]="factoryAuto">
                      <!-- Autocomplete options -->
                      <mat-autocomplete #factoryAuto="matAutocomplete" [displayWith]="displayWithFn">
                          <mat-option *ngFor="let factory of filterFactoryNames(factoryName.value)"
                              [value]="factory?.FactoryName" (onSelectionChange)="selectFactory(factory)">
                              {{ factory?.FactoryName }}
                          </mat-option>
                      </mat-autocomplete>
                  </div>
                  <div class="position-relative col-lg-3 d-grid my-2">
                      <input #accountName type="text" class="form-control" id="accountName" placeholder="Account Name"
                          formControlName="AccountName" [matAutocomplete]="accountAuto">
                      <!-- Autocomplete options -->
                      <mat-autocomplete #accountAuto="matAutocomplete" [displayWith]="displayWithFn">
                          <mat-option *ngFor="let account of filterAccountNames(accountName.value)"
                              [value]="account?.AccountName" (onSelectionChange)="selectAccount(account)">
                              {{ account?.AccountName }}
                          </mat-option>
                      </mat-autocomplete>
                  </div>
                  <div class="col-lg-3 position-relative my-2">
                    <mat-select placeholder="--Sale Type--" class="fromSelect"
                        formControlName="SaleTypeId">
                        <mat-option *ngFor="let sale of saleTypeList" [value]="sale.SaleTypeId">
                            {{sale.TypeName}}
                        </mat-option>
                    </mat-select>
                    <span *ngIf="SaleForm.get('SaleTypeId')?.hasError('required') && SaleForm.get('SaleTypeId')?.touched"
                        class="text-danger d-block validation-message">
                        Sale Type is required.
                    </span>
                </div>
                  <div class="col-lg-3 d-grid my-2">
                    <!-- <button (click)="clearFilter()" matTooltip="Clear Filter" class="btn btn-color"><i class="fa-solid fa-filter-circle-xmark"></i></button> -->
                    <button (click)="search()" class="btn btn-color">Search</button> 
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2 border-left my-2">
        <div class="top-container">
          <div class="search-field px-2">
            <input (input)="applyFilter($event)" type="text" placeholder="Search" class="form-control">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-lg-12">
        <div class="table-container">
          <div>
            <table matSort mat-table [dataSource]="dataSource">
              <!-- Displayed columns -->
              <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.header }}</th>
                <td mat-cell *matCellDef="let row; let i = index;">
                    {{ row[column.columnDef]  }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>                  
              </ng-container>
  
              <!-- Collection Date -->
              <ng-container matColumnDef="SaleDate">
                <th mat-header-cell *matHeaderCellDef> Sale Date </th>
                <td class="weight-column" mat-cell *matCellDef="let row"> {{row.SaleDate }} </td>
                <td class="footer-total" mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
              </ng-container>
              
         
                       <!-- Long FieldWeight -->
                       <ng-container matColumnDef="FieldWeight">
                        <th mat-header-cell *matHeaderCellDef> Field Weight ( KG ) </th>
                        <td class="weight-column" mat-cell *matCellDef="let row"> {{row.FieldWeight}} KG </td>
                        <td class="footer-total" mat-footer-cell *matFooterCellDef>
                          <b>{{ getTotalCost('FieldWeight') }} KG</b>
                        </td>
                      </ng-container>

                  <!-- ChallanWeight -->
                  <ng-container matColumnDef="ChallanWeight">
                    <th mat-header-cell *matHeaderCellDef> Challan Weight ( KG ) </th>
                    <td class="weight-column" mat-cell *matCellDef="let row"> {{row.ChallanWeight}} KG </td>
                    <td class="footer-total" mat-footer-cell *matFooterCellDef>
                      <b>{{ getTotalCost('ChallanWeight') }} KG</b>
                    </td>
                  </ng-container>


              <!-- Gross Amount -->
              <ng-container matColumnDef="GrossAmount">
                <th mat-header-cell *matHeaderCellDef> Gross Amount</th>
                <td class="weight-column" mat-cell *matCellDef="let row"> {{row.GrossAmount}} </td>
                <td class="footer-total" mat-footer-cell *matFooterCellDef> <b>{{ getTotalCost('GrossAmount') }} </b> </td>
              </ng-container>

     <!-- Incetive Amount -->
     <ng-container matColumnDef="IncentiveAmount">
      <th mat-header-cell *matHeaderCellDef> Insentive Amount</th>
      <td class="weight-column" mat-cell *matCellDef="let row"> {{row.IncentiveAmount}} </td>
      <td class="footer-total" mat-footer-cell *matFooterCellDef> <b>{{ getTotalCost('IncentiveAmount') }} </b> </td>
    </ng-container>

     <!-- Final Amount  -->
     <ng-container matColumnDef="FinalAmount">
      <th mat-header-cell *matHeaderCellDef> Final Amount</th>
      <td class="weight-column" mat-cell *matCellDef="let row"> {{row.FinalAmount}} </td>
      <td class="footer-total" mat-footer-cell *matFooterCellDef> <b>{{ getTotalCost('FinalAmount') }} </b> </td>
    </ng-container>

              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="statusBtn">
                      <span *ngIf="row.Status == 'Rejected'" class="btn-reject">Rejected</span>
                      <span *ngIf="row.Status == 'Pending'" class="btn-pending">Pending</span>
                      <span *ngIf="row.Status == 'Approved'" class="btn-approved">Approved</span>
                    </div>
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container> -->

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let row">
                  <div>
                    <i (click)="editItem(row)" matTooltip="Edit" matTooltipPosition="left" class="fa-solid edit-delete-button fa-pen-to-square"></i>
                    <i (click)="deleteItem(row)" matTooltip="Delete" matTooltipPosition="right" class="fa-solid text-danger edit-delete-button fa-trash-can"></i>
                  </div>
                </td>
                <td mat-footer-cell *matFooterCellDef> </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="table-footer" mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
          </div>
        </div>
        <mat-paginator [pageSizeOptions]="[75, 100, 125]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  