<div class="sidenav" (mouseenter)="isExpanded = true" (mouseleave)="isExpanded = false" [style.width.px]="isExpanded ? 210 : 62">
    <div [ngClass]="{'close': !isExpanded }" class="sidebar">
        <div class="logo-details">
          <!-- <i class='bx bxl-c-plus-plus'></i> -->
          <i (click)="toggleWidth()" *ngIf="!isExpanded" class="fa-solid m-0 openCloseIcon fa-bars"></i>
            <i (click)="toggleWidth()" *ngIf="isExpanded" class="fa-solid m-0 openCloseIcon fa-xmark"></i>
          <!-- <span *ngIf="isExpanded" class="logo_name">Company</span> -->
          
        </div>
        <ul class="nav-links">
          <li class="main-menu" routerLinkActive="main-menu-active">
            <a routerLink="dashboard">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Dashboard</span>
            </a>
            <ul *ngIf="!isExpanded" class="sub-menu blank">
              <li  routerLink="dashboard" routerLinkActive="active"><a>Dashboard</a></li>
            </ul>
          </li>
          <li [class.showMenu]="currentOpenMenu === 'Masters'" class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event, 'Masters')">
              <a>
                <i class="bx bxs-cylinder"></i>
                <span class="link_name">Masters</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="master/company" routerLinkActive="active"><a class="sub-menu-title">Company Setup</a></li>
              <li routerLink="master/category" routerLinkActive="active"><a class="sub-menu-title">Client Category</a></li>
              <li routerLink="master/client" routerLinkActive="active"><a class="sub-menu-title">Client</a></li>
              <li routerLink="master/grade" routerLinkActive="active"><a class="sub-menu-title">Leaf Grade</a></li>
              <li routerLink="master/factory" routerLinkActive="active"><a class="sub-menu-title">Factory</a></li>
              <li routerLink="master/factory-account" routerLinkActive="active"><a class="sub-menu-title">Factory Account</a></li>
            </ul>
          </li>
          

          <li [class.showMenu]="currentOpenMenu === 'LeafEntry'" class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event, 'LeafEntry')">
              <a>
                <i class='bx bx-list-ul' ></i>
                <span class="link_name">Leaf Entry</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="leafEntry/stg" routerLinkActive="active"><a class="sub-menu-title">STG</a></li>
              <li routerLink="leafEntry/supplier" routerLinkActive="active"><a class="sub-menu-title">Supplier</a></li>
            </ul>
          </li>
          
          <li [class.showMenu]="currentOpenMenu === 'LeafApprove'" class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event, 'LeafApprove')">
              <a>
                <i class='bx bx-check-shield' ></i>
                <span class="link_name">Leaf Approve</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="LeafApprove/stgapprove" routerLinkActive="active"><a class="sub-menu-title">STG</a></li>
              <li routerLink="LeafApprove/supplierapprove" routerLinkActive="active"><a class="sub-menu-title">Supplier</a></li>
            </ul>
          </li>

          <li [class.showMenu]="currentOpenMenu === 'LeafHistory'" class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event, 'LeafHistory')">
              <a>
                <i class='bx bx-history' ></i>
                <span class="link_name">History</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="LeafHistory/stg-history" routerLinkActive="active"><a class="sub-menu-title">STG History</a></li>
              <li routerLink="LeafHistory/supplier-history" routerLinkActive="active"><a class="sub-menu-title">Supplier History</a></li>
            </ul>
          </li>

          <li [class.showMenu]="currentOpenMenu === 'Settings'" class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event, 'Settings')">
              <a>
                <i class="fa-solid fa-sliders"></i>
                <span class="link_name">Settings</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="user-management/user" routerLinkActive="active"><a class="sub-menu-title">User</a></li>
              <li routerLink="user-management/role" routerLinkActive="active"><a class="sub-menu-title">Role</a></li>
            </ul>
          </li>

          <li [class.showMenu]="currentOpenMenu === 'SuperAdmin'" class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event, 'SuperAdmin')">
              <a>
                <i class="bx bxs-cog"></i>
                <span class="link_name">Super Admin</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="super-admin/tenant" routerLinkActive="active"><a class="sub-menu-title">Tenant</a></li>
              <li routerLink="super-admin/user" routerLinkActive="active"><a class="sub-menu-title">User</a></li>
              <li routerLink="super-admin/role" routerLinkActive="active"><a class="sub-menu-title">Role</a></li>
            </ul>
          </li>
    </ul>
      </div>
</div>