<div class="sidenav" (mouseenter)="isExpanded = true" (mouseleave)="isExpanded = false" [style.width.px]="isExpanded ? 210 : 62">
    <div [ngClass]="{'close': !isExpanded }" class="sidebar">
        <div class="logo-details">
          <!-- <i class='bx bxl-c-plus-plus'></i> -->
          <i (click)="toggleWidth()" *ngIf="!isExpanded" class="fa-solid m-0 openCloseIcon fa-bars"></i>
            <i (click)="toggleWidth()" *ngIf="isExpanded" class="fa-solid m-0 openCloseIcon fa-xmark"></i>
          <!-- <span *ngIf="isExpanded" class="logo_name">Company</span> -->
          
        </div>
        <ul class="nav-links">
          <li class="main-menu" routerLinkActive="main-menu-active">
            <a routerLink="dashboard">
              <i class='bx bx-grid-alt' ></i>
              <span class="link_name">Dashboard</span>
            </a>
            <ul *ngIf="!isExpanded" class="sub-menu blank">
              <li  routerLink="dashboard" routerLinkActive="active"><a>Dashboard</a></li>
            </ul>
          </li>
          <li class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event)">
              <a>
                <i class="fa-solid fa-layer-group"></i>
                <span class="link_name">Masters</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="master/category" routerLinkActive="active"><a class="sub-menu-title">Category</a></li>
              <li routerLink="master/client" routerLinkActive="active"><a class="sub-menu-title">Client</a></li>
              <li routerLink="master/grade" routerLinkActive="active"><a class="sub-menu-title">Grade</a></li>
              <li routerLink="master/factory" routerLinkActive="active"><a class="sub-menu-title">Factory</a></li>
              <li routerLink="master/factory-account" routerLinkActive="active"><a class="sub-menu-title">Factory Account</a></li>
            </ul>
          </li>
          

          <li class="main-menu" routerLinkActive="main-menu-active">
            <div class="iocn-link" (click)="toggleMenu($event)">
              <a routerLink="collection">
                <i class='bx bx-collection' ></i>
                <span class="link_name">Leaf Entry</span>
              </a>
              <i class='bx bxs-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
              <li routerLink="leafEntry/stg" routerLinkActive="active"><a class="sub-menu-title">STG</a></li>
              <li routerLink="leafEntry/supplier" routerLinkActive="active"><a class="sub-menu-title">Supplier</a></li>
            </ul>
          </li>
    </ul>
      </div>
</div>