<h2 mat-dialog-title class="m-0 p-0 px-2 model-title justify-content-between d-flex align-items-center">
    <span>{{dialogData.title}}</span>
    <i matTooltip="Close" mat-dialog-close class="fa-solid fa-circle-xmark cursor-pointer"></i>
</h2>
<mat-dialog-content class="mat-typography p-0">
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="FactoryForm">
                    <div class="row">
                   
                            <div class="form-group row mb-3">
                                <label for="FactoryName" class="col-lg-5 col-form-label">Factory Name <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="FactoryName"
                                        placeholder="Factory Name"
                                        formControlName="FactoryName"
                                    >
                                
                                </div>
                            </div>
        
                            <div class="form-group row mb-3">
                                <label for="FactoryAddress" class="col-lg-5 col-form-label">Address</label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="FactoryAddress"
                                        placeholder="Address"
                                        formControlName="FactoryAddress"
                                    >
                                </div>
                            </div>
        
                            <div class="form-group row mb-3">
                                <label for="ContactNo" class="col-lg-5 col-form-label">Contact <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="ContactNo"
                                        placeholder="Contact No"
                                        formControlName="ContactNo"
                                    >
                            
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label for="EmailId" class="col-lg-5 col-form-label">Email <span class="text-danger">*</span></label>
                                <div class="col-lg-7 position-relative">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="EmailId"
                                        placeholder="Email"
                                        formControlName="EmailId"
                                    >
                                  
                                </div>
                            </div>
                      
                  
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn-color bg-danger" color="warn" mat-raised-button mat-dialog-close>Cancel</button>
    <button (click)="onSubmit()" class="btn-color" mat-raised-button cdkFocusInitial>{{dialogData.buttonName}}</button>
</mat-dialog-actions>
