.main-container{
    box-shadow: var(--soft-box-shadow);
    .header-title{
        text-align: center;
        background-color: var(--primary-color);
        color: #fff;
        font-size: 1rem;
        padding: 10px 0px;
        text-transform: uppercase;
    }
    .form-container{
        padding: 10px;
    }
}

.button{
    button{
        cursor: pointer;
    }
}

.hide-view-icon{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    i{
        cursor: pointer;
    }
}