.table-container {
    height: calc(100vh - 200px);
    overflow: auto;
    box-shadow: var(--soft-box-shadow);
}

.title {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;

    span {
        border-bottom: 2px solid var(--primary-color);
        text-shadow: 1px 2px 3px;
    }
}

.top-container {
    display: flex;

    .search-field {
        flex: 1;
        position: relative;

        i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            text-shadow: var(--soft-box-shadow);
        }
    }
}

th.mat-sort-header-sorted {
    color: white;
}


.statusBtn {
    span {
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 15px;
        margin: 3px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .btn-reject {
        background-color: #dc3545;
        color: white;
        box-shadow: var(--soft-box-shadow);
    }

    .btn-pending {
        background-color: #ffc107;
        color: white;
        box-shadow: var(--soft-box-shadow);
    }

    .btn-approved {
        background-color: var(--primary-color);
        color: white;
        box-shadow: var(--soft-box-shadow);
    }
}

.select-check {
    position: sticky;
    left: 0;
}

td:first-child,
th:nth-child(1) {
    position: sticky;
    left: 0;
    z-index: 990 !important;

    mat-checkbox {
        border-color: white !important;
    }
}

th:first-child {
    position: sticky;
    left: 0;
    z-index: 991 !important;

    mat-checkbox {
        border-color: white !important;
    }
}

.footer-total {
    text-wrap: nowrap;
    text-align: center;
    // background-color: #84d3b6;
    // border: 1px solid gray;

}


.table-footer {
    // box-shadow: 0px 0px 2px;
    // border: 1px solid gray;
    height: 35px;
}

.fa-scale-unbalanced {
    color: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.selected-row {
    background-color: #ffd642;
    /* Change this to the desired background color */
}

.error-border {
    border: 2px solid red;
}

.highlight-date {
    background-color: yellow;
    /* Change the color as needed */
}

