<div class="top-nav-main-container">
    <!-- <i (click)="toggleSideNav()" *ngIf="!switchSideNav" class="fa-solid openCloseIcon fa-bars"></i>
    <i (click)="toggleSideNav()" *ngIf="switchSideNav" class="fa-solid openCloseIcon fa-xmark"></i> -->
    <div class="running-time-date">
        {{ currentDateTime }}
      </div>
    <div class="top-navbar">
        <div class="logo"></div>
        <div class="company-name">
            <span>{{loginDetails.CompanyName }}</span>
            <span class="router">{{formatCurrentRoute()}}</span>
        </div>
        <div matTooltip="Notification" matTooltipPosition="below" class="notification-icon" [matMenuTriggerFor]="notificationMenu">
            <i [ngClass]="{'fa-shake':NotificationData.length > 0}" class="fa-solid fa-bell fa-2x text-light"></i>
            <span *ngIf="NotificationData.length > 0" class="notification-badge">{{countOfPendingNotifications}}</span> <!-- Badge for notification count -->
        </div>
        <mat-menu #notificationMenu="matMenu" class="notification-menu p-0">
            <div class="notification-header">
                Notifications
            </div>
            <ng-container *ngIf="NotificationData.length > 0; else noNotifications">
                <button (click)="redirectToNotification(notification.Link)" class="notification-button" mat-menu-item *ngFor="let notification of NotificationData">
                    <div class="notification-item" >
                        <div class="notification-content">
                            <div class="notification-module">{{ notification.Module }}</div>
                            <div class="notification-info">{{ notification.TotalPending }} pending</div>
                        </div>
                    </div>
                </button>
            </ng-container>

            <ng-template #noNotifications>
                <div class="no-notifications-message">
                    No notifications available.
                </div>
            </ng-template>
            
            <!-- Add more notification items as needed -->
        </mat-menu>
        
        
        <div class="user-profile rounded">
            <div class="profile-image">
                <i class="fa-solid fa-2x fa-user"></i>
            </div>
            <div class="user-name mx-3">
                <span class="name">{{loginDetails.UserFirstName | uppercase }}</span>
                <span class="user-id">{{loginDetails.RoleDescription}}</span>
            </div>
            <div class="dropdown">
                <ul class="text-center">
                    <li class="mt-2">Profile</li>
                    <li>Help & Support</li>
                    <li (click)="logout()">Logout</li>
                </ul>
            </div>
        </div>
    </div>
</div>