<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-lg-9 my-2 align-items-center">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="StgBillForm">
            <div class="row">
              <div class="col-lg-3 my-2">
                <mat-form-field>
                  <input readonly matInput [matDatepicker]="picker" (dateChange)="fromDateChange($event)"
                    placeholder="From Date" formControlName="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-lg-3 my-2">
                <mat-form-field class="mx-2">
                  <input readonly matInput [min]="minToDate" [matDatepicker]="picker1" min="PaymentForm.value.fromDate"
                    placeholder="To Date" formControlName="toDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <!-- <div class="col-lg-3 position-relative my-2">
                  <mat-select placeholder="--Client Category--" class="fromSelect" formControlName="CategoryId">
                    <mat-option value="0" (onSelectionChange)="selectCategory($event, '')">All Category</mat-option>
                    <mat-option *ngFor="let category of categoryList" [value]="category.CategoryId"
                      (onSelectionChange)="selectCategory($event, category)">
                      {{category.CategoryName}}
                    </mat-option>
                  </mat-select>
                  <span
                    *ngIf="PaymentForm.get('CategoryId')?.hasError('required') && PaymentForm.get('CategoryId')?.touched"
                    class="text-danger d-block validation-message">
                    Client Category is required.
                  </span>
                </div> -->
              <div class="col-lg-3 my-2">
                <div class="position-relative">
                  <input #clientName type="text" class="form-control" id="ClientName" placeholder="Client Name"
                    formControlName="ClientName" [matAutocomplete]="clientAuto" (input)="onInputChange($event)">

                  <mat-autocomplete #clientAuto="matAutocomplete" [displayWith]="displayWithFn">
                    <mat-option *ngFor="let client of filterClientNames(clientName.value)" [value]="client?.ClientName"
                      (onSelectionChange)="selectClient(client)">
                      {{ client?.ClientName }}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>

              <div class="col-lg-2 my-2 d-grid">
                <!-- <button (click)="clearFilter()" matTooltip="Clear Filter" class="btn btn-color"><i class="fa-solid fa-filter-circle-xmark"></i></button> -->
                <button (click)="search()" class="btn btn-color ms-2">Search</button>
              </div>

            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="col-lg-3 my-2 border-left">
      <div class="top-container my-2">
        <div class="search-field px-2">
          <input (input)="applyFilter($event)" type="text" placeholder="Find" class="form-control">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <button matTooltip="Excel Export" (click)="exportToExcel()" class="btn btn-outline-dark">
          <i class="fa-solid py-2 px-1 fa-file-excel"></i>
        </button>
      </div>
    </div>
    <hr>
    <div class="col-lg-12">
      <div class="table-container">
        <div>
          <table id="material-table" matSort mat-table [dataSource]="dataSource"
            (keydown)="handleKeyboardNavigation($event)">
            <!-- Displayed columns -->
            <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
              <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.header }}</th>
              <td [ngClass]="{'reject-row': row.Status=='Rejected'}" mat-cell *matCellDef="let row; let i = index;">
                {{ row[column.columnDef] }}
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- Total-->
            <ng-container matColumnDef="BillDate">
              <th mat-header-cell *matHeaderCellDef> Bill Date </th>
              <td class="weight-column" mat-cell *matCellDef="let row"> {{row.BillDate }} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef> <b>Total</b> </td>
            </ng-container>

            <!-- Rate-->
            <ng-container matColumnDef="AvgRate">
              <th mat-header-cell *matHeaderCellDef> Avg. Rate <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.AvgRate| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b> </b>
              </td>
            </ng-container>

            <!-- Final Weight -->
            <ng-container matColumnDef="FinalWeight">
              <th mat-header-cell *matHeaderCellDef> Challan Kg</th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{ row.FinalWeight }} KG

              </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b>{{ getTotal('FinalWeight')}} KG </b>
              </td>
            </ng-container>



            <!-- Total Leaf Amount -->
            <ng-container matColumnDef="TotalStgAmount">
              <th mat-header-cell *matHeaderCellDef> Leaf Amount <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.TotalStgAmount | currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('TotalStgAmount')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>

            <!-- Total Payment Amount -->
            <ng-container matColumnDef="TotalStgPayment">
              <th mat-header-cell *matHeaderCellDef> Total Payment <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.TotalStgPayment| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('TotalStgPayment')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>

            <!-- Incentive Amount -->
            <ng-container matColumnDef="IncAmount">
              <th mat-header-cell *matHeaderCellDef> Inc. Amount <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.IncAmount| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('IncAmount')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>
            <!-- Transport Amount -->
            <ng-container matColumnDef="TransportingAmount">
              <th mat-header-cell *matHeaderCellDef> Transport Amount <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.TransportingAmount| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('TransportingAmount')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>

            <!-- PreviousBalance Amount -->
            <ng-container matColumnDef="PreviousBalance">
              <th mat-header-cell *matHeaderCellDef> Pre. Dues Amount <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.PreviousBalance| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('PreviousBalance')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>


            <!-- CessAmount Amount -->
            <ng-container matColumnDef="CessAmount">
              <th mat-header-cell *matHeaderCellDef>GL Cess Amount <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.CessAmount| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('CessAmount')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>

            <!-- LessSeasonAdv Amount -->
            <ng-container matColumnDef="LessSeasonAdv">
              <th mat-header-cell *matHeaderCellDef> Less Season Adv. <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.LessSeasonAdv| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('LessSeasonAdv')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>


            <!-- LessSeasonAdv Amount -->
            <ng-container matColumnDef="AmountToPay">
              <th mat-header-cell *matHeaderCellDef> Paid Amount <i class="fa-solid fa-indian-rupee-sign"></i>
              </th>
              <td class="weight-column" mat-cell *matCellDef="let row">
                {{row.AmountToPay| currency:'INR':'':undefined:'en-IN'}} </td>
              <td class="footer-total" mat-footer-cell *matFooterCellDef>
                <b><i class="fa-solid fa-indian-rupee-sign"></i> {{ getTotal('AmountToPay')|
                  currency:'INR':'symbol':undefined:'en-IN' }}</b>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let row">
                <div>
                  <i (click)="ViewBill(row)" matTooltip="PreView Bill" matTooltipPosition="left"
                    class="fa-solid edit-delete-button fa-pen-to-square"></i>
                  <!-- <i  (click)="addStgItem(row)" matTooltip="Add STG data" matTooltipPosition="right"
                      class="fa-solid edit-delete-button fa-circle-plus"></i> -->
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
              [class.selected-row]="i == selectedRowIndex" (click)="selectRow(row, i)">
            </tr>
            <tr class="table-footer" mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell text-center text-danger" attr.colspan="{{displayedColumns.length + 1}}">Record is not
                found !</td>
            </tr>
          </table>
        </div>
      </div>
      <mat-paginator [pageSizeOptions]="[75, 100, 125]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>